        </div>
    </main>
    <footer>
        <div class="container">
            <div class="footer-content">
                <p>Back to <a href="index.html">Gracism Home Page</a></p>
                <p>While we appreciate the interest, gracism.com is not for sale at this time.</p>
            </div>
        </div>
    </footer>
</body>
</html>
