<!DOCTYPE html>
<!-- Page heading template -->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>{{title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {{> google}}
</head>
<body bgcolor="#dbe6e3" text="#000000" link="#000099" vlink="#990099" alink="#000099" background="images/greenbg.jpg">

<div class="header">
    <a href="index.html">
        <img style="float:left" id="logo" src="images/bambooGreen.gif" alt="Icon" height="108" width="128">
    </a>
    <a href="index.html">
        <h1>Gracism<sup><font size=-1>&trade;</font></sup></h1>
    </a>
</div>


<div style="clear: left;">
