{{> head}}

  <div class="container">
    <div class="thought">
<div align="left"><a href="thoughts.html">Thought for the day</a>:
{{thought}}
</div>
    </div>
  </div>
  <div class="container">
    <div class="box">
<div align="left">
<h2>{{hleft}}</h2>
<div style="white-space: pre-wrap">
{{tleft}}
</div>
</div>
    </div>
    <div class="box">
<div align="left">
<h2>{{hright}}</h2>
<div style="white-space: pre-wrap">
{{tright}}
</div>
</div>
    </div>
  </div>



{{> foot}}
