{{> head}}

<section class="thoughts-list">
    <p class="thoughts-intro">Here are some of the previous "thoughts for the day". And yes, some "days" are longer than others, and some have fewer thoughts.</p>
    
    {{> t2}}
</section>

{{> foot}}
